LEMPNET_SUBNET=172.40.0
LEMPNET_CIDR=16

LOGGING_MAX_SIZE=10m
LOGGING_MAX_FILE=5

NGINX_IMAGE_TAG=1.28
NGINX_IPV4=100

PHP_IMAGE_TAG=8.2-fpm
PHP_IPV4=150

MARIADB_IMAGE_TAG=10.8
MARIADB_ROOT_PASSWORD=__PASSWORD__
MARIADB_IPV4=200
